//
// hero
//
//

.overlay {
  overflow: visible;

  .overlay-item-bottom {
    margin-bottom: -($section-padding * 2);
  }

  .overlay-item-top {
    margin-top: -($section-padding * 2);
  }
}

.bg-hero-dropshadow {
  padding-top: 8rem !important;
  box-shadow: 0px 40px 70px 20px rgba(0, 0, 0, 0.5) inset;
}

.hero-code {
  background-color: black;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: "Roboto Mono", monospace;
}

@include media-breakpoint-up(lg) {
  .overlay-content {
    margin-top: -($section-padding - 1.875rem);
  }

  .overlay-hero {
    margin-bottom: -($section-padding - 1.875rem);
  }
}
