@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

.DARTWindow {
  background-color: #aaaaaa;
  overscroll-behavior: none;
  margin: 0px;
  /* width: 100vw; */
  font-family: "Roboto Mono", monospace;
  position: relative;

  .DARTWindow-gl {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }

  .DARTWindow-ui {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    pointer-events: none;

    .DARTWindow-ui-elem {
      pointer-events: all;

      .DARTWindow-button {
        width: 100%;
        height: 100%;
      }

      .DARTWindow-slider-bg {
        pointer-events: all;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
        border-radius: 0.25rem;
        border: 1px solid #e5e5e5;
        background: white;
      }

      .DARTWindow-slider-horizontal {
        height: 100%;
        width: 5px;
        position: absolute;
        z-index: 6;
        background-color: rgb(0, 119, 170);
        border: none;
        user-select: none;
      }

      .DARTWindow-slider-vertical {
        height: 5px;
        width: 100%;
        position: absolute;
        z-index: 6;
        background-color: rgb(0, 119, 170);
        border: none;
        user-select: none;
      }

      .DARTWindow-plot-canvas {
        background-color: rgba(125, 125, 125, 0.5);
      }

      canvas {
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
      }
    }
  }

  .GUI_not_connected {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    text-align: center;
    font-size: 14px;
    z-index: 1;
  }

  .GUI_title {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    user-select: none;
    text-align: center;
    font-size: 14px;
    z-index: 1;
  }

  .View__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
