build/
syntax: glob
*.swp
*.swo
CPack*
CTest*
Testing/
TAGS
.DS_Store
.cproject
.project
.vscode
*.orig
*.idb
*.pdb
*.ncb
*.suo
*.htm
*.user
*.dep
*.manifest
*.rsp
*~
.idea/*
/nbproject/
/doxygen/html/
docs/readthedocs/site
data/screencap/*
dart/realtime/saved_data/images/*
dart/realtime/saved_data/np_files/*
dart/realtime/saved_data/raw_data/*
dist/
wheelhouse/
