<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../assets/css/vendor.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <title>FAQ</title>
  </head>
  <body>


    <!-- header -->
    <header class="header header-sticky header-minimal-light bg-white">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a href="../../index.html" class="navbar-brand"><img src="../../assets/images/logo.svg" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../../index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documentation
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-1">
                    <a class="dropdown-item" href="../../html/docs/layout-1.html">Layout 1</a>
                    <a class="dropdown-item" href="../../html/docs/layout-2.html">Layout 2</a>
                    <a class="dropdown-item" href="../../html/docs/layout-3.html">Layout 3</a>
                    <a class="dropdown-item" href="../../html/docs/layout-4.html">Layout 4</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help Center
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-2">
                    <a class="dropdown-item" href="../../html/help/homepage-1.html">Homepage 1</a>
                    <a class="dropdown-item" href="../../html/help/homepage-2.html">Homepage 2</a>
                    <a class="dropdown-item" href="../../html/help/homepage-3.html">Homepage 3</a>
                    <a class="dropdown-item" href="../../html/help/category.html">Category</a>
                    <a class="dropdown-item" href="../../html/help/category-inner.html">Category Inner</a>
                    <a class="dropdown-item" href="../../html/help/article-1.html">Article 1</a>
                    <a class="dropdown-item" href="../../html/help/article-2.html">Article 2</a>
                    <a class="dropdown-item" href="../../html/help/tutorial.html">Tutorial</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="dropdown-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pages
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-3">
                    <a class="dropdown-item" href="../../html/pages/contact.html">Contact</a>
                    <a class="dropdown-item" href="../../html/pages/changelog.html">Changelog</a>
                    <a class="dropdown-item active" href="../../html/pages/faq.html">FAQ</a>
                    <a class="dropdown-item" href="../../html/pages/pricing.html">Pricing</a>
                    <a class="dropdown-item" href="../../html/pages/terms.html">Terms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../../html/pages/404.html">404</a>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="../../documentation/index.html">Docs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../../documentation/changelog.html">Changelog</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- / header -->


    <!-- hero -->
    <section class="hero pb-0">
      <div class="image image-gradient-vertical" style="background-image:url(../../assets/images/image.jpg)"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h1 class="mb-5">FAQ</h1>
          </div>
        </div>
      </div>
    </section>
    <!-- / hero -->

    <!-- accordions -->
    <section class="pb-0">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <div class="accordion accordion-fluid" id="accordion-1">
              <div class="card">
                <div class="card-header" id="heading-1-1">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                      Transfer my domain to another registrar
                    </button>
                  </h5>
                </div>

                <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil autem corporis natus explicabo unde modi architecto voluptates non recusandae, nisi veniam vel doloribus iure eum tenetur, dicta velit accusamus ipsa?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At harum beatae voluptate sint nihil suscipit, maxime quia cupiditate dolor recusandae provident quae unde omnis, sapiente nemo ab sunt iste autem.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-1-2">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                      Get an authorization code to transfer my domain to another registrar
                    </button>
                  </h5>
                </div>
                <div id="collapse-1-2" class="collapse" aria-labelledby="heading-1-2" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas numquam incidunt architecto qui pariatur atque quis veritatis beatae repudiandae, laboriosam, adipisci amet, velit eius. Deleniti ex nisi perspiciatis vero rem!
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-1-3">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                      Check the status of my domain transfer-in
                    </button>
                  </h5>
                </div>
                <div id="collapse-1-3" class="collapse" aria-labelledby="heading-1-3" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex aspernatur, illo nostrum non quidem sit accusamus ipsum, nulla perferendis voluptas et. Possimus nobis odit nulla porro praesentium voluptatem quasi debitis.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-1-4">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-4" aria-expanded="false" aria-controls="collapse-1-4">
                      How do I resend the transfer confirmation email?
                    </button>
                  </h5>
                </div>
                <div id="collapse-1-4" class="collapse" aria-labelledby="heading-1-4" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus adipisci, vero doloribus, dicta magni doloremque qui molestias facere voluptatum sit minus natus, culpa. Maxime, consectetur quibusdam eos tempore, consequatur numquam.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading-1-5">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-1-5" aria-expanded="false" aria-controls="collapse-1-5">
                      Accepting domain account changes
                    </button>
                  </h5>
                </div>
                <div id="collapse-1-5" class="collapse" aria-labelledby="heading-1-5" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quaerat nihil voluptatem facilis itaque optio placeat, possimus, quia aut totam porro voluptate, voluptatum minima architecto voluptas odio. At, repellat, ad?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / accordions -->


    <!-- footer -->
    <footer class="bg-white">
      <div class="container">
        <div class="row gutter-3">
          <div class="col-12 col-md-2">
            <a href="../../index.html"><img src="../../assets/images/logo.svg" alt="Logo"></a>
          </div>
          <div class="col-12 col-md-6">
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="row">
              <div class="col">
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><a href="" class="link">Product Help</a></li>
                  <li class="list-group-item"><a href="" class="link">Training Videos</a></li>
                  <li class="list-group-item"><a href="" class="link">Integrations</a></li>
                </ul>
              </div>
              <div class="col">
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><a href="" class="link">REST API</a></li>
                  <li class="list-group-item"><a href="" class="link">Corporate</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 ml-auto text-md-right">
            <div class="dropdown">
              <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                English
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">French</a>
                <a class="dropdown-item" href="#">German</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->


    <script src="../../assets/js/vendor.min.js"></script>
    <script src="../../assets/js/app.js"></script>
  </body>
</html>