<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../assets/css/vendor.css" />
    <link rel="stylesheet" href="../../assets/css/style.css" />

    <title>Pricing</title>
  </head>
  <body>



    <!-- header -->
    <header class="header header-sticky header-minimal-dark">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-dark">
            <a href="" class="navbar-brand"><img src="../../assets/images/logo-white.svg" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="../../index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Documentation
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-1">
                    <a class="dropdown-item" href="../../html/docs/layout-1.html">Layout 1</a>
                    <a class="dropdown-item" href="../../html/docs/layout-2.html">Layout 2</a>
                    <a class="dropdown-item" href="../../html/docs/layout-3.html">Layout 3</a>
                    <a class="dropdown-item" href="../../html/docs/layout-4.html">Layout 4</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help Center
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-2">
                    <a class="dropdown-item" href="../../html/help/homepage-1.html">Homepage 1</a>
                    <a class="dropdown-item" href="../../html/help/homepage-2.html">Homepage 2</a>
                    <a class="dropdown-item" href="../../html/help/homepage-3.html">Homepage 3</a>
                    <a class="dropdown-item" href="../../html/help/category.html">Category</a>
                    <a class="dropdown-item" href="../../html/help/category-inner.html">Category Inner</a>
                    <a class="dropdown-item" href="../../html/help/article-1.html">Article 1</a>
                    <a class="dropdown-item" href="../../html/help/article-2.html">Article 2</a>
                    <a class="dropdown-item" href="../../html/help/tutorial.html">Tutorial</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="dropdown-3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pages
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdown-3">
                    <a class="dropdown-item" href="../../html/pages/contact.html">Contact</a>
                    <a class="dropdown-item" href="../../html/pages/changelog.html">Changelog</a>
                    <a class="dropdown-item" href="../../html/pages/faq.html">FAQ</a>
                    <a class="dropdown-item active" href="../../html/pages/pricing.html">Pricing</a>
                    <a class="dropdown-item" href="../../html/pages/terms.html">Terms</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../../html/pages/404.html">404</a>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="../../documentation/index.html">Docs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../../documentation/changelog.html">Changelog</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- / header -->


    <!-- hero -->
    <section>
      <div class="image image-overlay" style="background-image:url(../../assets/images/image-1.jpg)"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5 text-white">
            <h1>Pricing</h1>
            <p class="lead">Each purchase of Stack comes with six months free support — and a lifetime of free content and bug-fix updates.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- / hero -->

    <!-- pricing -->
    <section class="overlay">
      <div class="container overlay-item-top">
        <div class="row gutter-3">
          <div class="col-md-6 col-lg-4">
            <div class="card stacked mt-3">
              <div class="card-header pt-0">
                <span class="card-price">$49</span>
                <h3 class="card-title mt-3 mb-1">Small</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-minimal mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">Unlimited Team Members
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Support for one year
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Access to updates
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">24/7 Call Support
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                </ul>
                <a href="" class="btn btn-block btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card stacked mt-3">
              <div class="card-header pt-0">
                <span class="card-price">$89</span>
                <h3 class="card-title mt-3 mb-1">Medium</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-minimal mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">Unlimited Team Members
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Support for one year
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Access to updates
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">24/7 Call Support
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                </ul>
                <a href="" class="btn btn-block btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card stacked mt-3">
              <div class="card-header pt-0">
                <span class="card-price">$129</span>
                <h3 class="card-title mt-3 mb-1">Large</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <div class="card-body">
                <ul class="list-group list-group-minimal mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center">Unlimited Team Members
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Support for one year
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Access to updates
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">24/7 Call Support
                    <i class="icon-check2 text-green fs-20"></i>
                  </li>
                </ul>
                <a href="" class="btn btn-block btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / pricing -->



    <section class="separator-top">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center">
            <h2>All Packages Include</h2>
          </div>
        </div>
        <div class="row justify-content-center gutter-3">
          <div class="col-md-6 col-lg-4">
            <ul class="list-group list-group-lines">
              <li class="list-group-item d-flex align-items-center boxed">
                <i class="icon-check2 mr-2 text-green fs-28"></i>
                Website & App Tracking
                <span class="badge badge-green">New</span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check2 mr-2 text-green fs-28"></i>
                Contact & Company Insights
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check2 mr-2 text-green fs-28"></i>
                Automatic Email Sync
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-4">
            <ul class="list-group list-group-lines">
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check2 mr-2 text-green fs-28"></i>
                Deals & Project Pipelines
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check2 mr-2 text-green fs-28"></i>
                Goals, Conditions, & Delays
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check2 mr-2 text-green fs-28"></i>
                Role-Based Dashboards
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <section class="bg-white">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center">
            <h2>FAQ</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="accordion accordion-bordered" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How do your Membership Agreements work ?
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quos eos repudiandae quisquam enim dolore, vel nobis necessitatibus corrupti facilis et nesciunt, odit optio vitae cupiditate, tenetur assumenda placeat dicta.</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Wha about phone service in my private office?
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum error nisi dolor quod et amet nihil itaque quis. Est recusandae aliquam officia culpa consectetur placeat repudiandae ipsa reiciendis dolorem tenetur!</p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What are your standard working hours?
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates iusto dolores fuga odit beatae sunt, quae ducimus dicta assumenda facilis necessitatibus, consequatur reiciendis velit ex obcaecati asperiores voluptatibus officiis illum.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- go top -->
    <div class="half bg-white">
      <span class="half-bg bg-dark"></span>
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="btn-frame">
              <a data-scroll href="#top" class="btn btn-top btn-primary btn-ico btn-lg btn-rounded"><i class="icon-arrow-up2 fs-22"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / go top -->


    <!-- footer -->
    <footer class="bg-dark">
      <div class="container">
        <div class="row gutter-3">
          <div class="col-12 col-md-2">
            <a href=""><img src="../../assets/images/logo-white.svg" alt="Logo"></a>
          </div>
          <div class="col-12 col-md-6 text-white">
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="row">
              <div class="col">
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><a href="" class="link">Product Help</a></li>
                  <li class="list-group-item"><a href="" class="link">Training Videos</a></li>
                  <li class="list-group-item"><a href="" class="link">Integrations</a></li>
                </ul>
              </div>
              <div class="col">
                <ul class="list-group list-group-minimal">
                  <li class="list-group-item"><a href="" class="link">REST API</a></li>
                  <li class="list-group-item"><a href="" class="link">Corporate</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-2 ml-auto text-md-right">
            <div class="dropdown">
              <button class="btn btn-inverted btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                English
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">French</a>
                <a class="dropdown-item" href="#">German</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->


    <script src="../../assets/js/vendor.min.js"></script>
    <script src="../../assets/js/app.js"></script>
  </body>
</html>