//
// Typography
//
//

//
// Spacing
//
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  margin-bottom: 0.25em;

  &:last-child {
    margin-bottom: 0;
  }
}

p,
blockquote,
.alert,
ul,
ol {
  margin-bottom: $card-spacer-y;

  &:last-child {
    margin-bottom: 0;
  }
}

// custom inlines
.external,
.code,
.kbd,
.scroll,
.folder,
.file {
  @include transition;
  @extend %boxed;
  position: relative;
  display: inline-block;
  margin: 0.2rem;
  padding: 0 0.5rem 0 2.5rem;
  font-size: inherit;
  font-family: $font-family-sans-serif;
  border-radius: $border-radius;
  color: $body-color;

  &::before {
    @include transition;
    @include translate(0, -50%);
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 2rem;
    height: 100%;
    text-align: center;
    background: $gray-200;
    content: "\ebfa";
    color: $black;
    font-family: "icomoon" !important;
    border-radius: $border-radius;
    border-right: $border-width solid $border-color;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.text-white {
  .external,
  .code,
  .kbd,
  .scroll,
  .folder,
  .file {
    border-color: rgba($white, 0.1);
    background: rgba($black, 0.2);
    color: $white;

    &:before {
      background: rgba($white, 0.1);
      color: rgba($white, 0.5);
      border-color: transparent;
    }
  }
}

.component-info {
  .external,
  .code,
  .kbd,
  .scroll,
  .folder,
  .file {
    @include no-shadow;
    border: 0;
    background: rgba($black, 0.1);
    color: $black;

    &:before {
      background: transparent;
      color: $body-color;
      border-color: $border-color;
    }
  }
}

.external {
  &::before {
    content: "\ec27";
  }

  &:hover {
    background: $primary;
    color: $white;
    border-color: $primary;

    &::before {
      background: rgba($black, 0.1);
      color: $white;
      border-color: rgba($black, 0.1);
    }
  }
}

.scroll {
  &::before {
    content: "\ec69";
  }

  &:hover {
    background: $primary;
    color: $white;
  }
}

.code {
  &::before {
    content: "\eca9";
  }
}

.folder {
  &::before {
    content: "\ec34";
  }
}

.file {
  &::before {
    content: "\ec2d";
  }
}

.kbd {
  &::before {
    content: "\f11c";
  }
}

.lead {
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
}

//
// Global
//
strong,
b {
  font-weight: $font-weight-bold;
}

p {
  line-height: 1.8;
}

img {
  max-width: 100%;
}

a {
  &:hover {
    text-decoration: none;
  }
}

%eyebrow {
  font-size: $font-size-sm;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  font-weight: 600;

  &[class*="-sm"] {
    font-size: 0.75rem;
  }
}

.eyebrow {
  @extend %eyebrow;
}

// blockquote
.blockquote {
  position: relative;
  padding-left: $section-padding;

  p {
    font-size: $font-size-lg;
    color: $black;
    line-height: 1.5;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\201C";
    display: block;
    width: 1em;
    line-height: 1em;
    font-size: 6.25rem;
    font-family: $headings-font-family;
    color: $secondary;
  }
}

// link
%link {
  display: inline-block;
  position: relative;

  @include hover-focus {
    &::before {
      @include transition();
      top: calc(100% + 2px);
      opacity: 1;
    }
  }

  &::before {
    @include transition();
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    width: calc(100% - 2px);
    height: $border-width;
    background: currentColor;
    opacity: 0;
  }
}

.link {
  @extend %link;
}

%action {
  @include transition;
  display: inline-block;
  position: relative;
  padding-right: 2em;

  &::after {
    @include transition;
    @include translate(0, -50%);
    position: absolute;
    right: 0.5em;
    top: 50%;
    content: "\ebde";
    display: block;
    font-family: "icomoon" !important;
    font-size: 1em;
    width: 1em;
    line-height: 1em;
  }

  &:hover {
    &::after {
      right: 0;
    }
  }
}

.action {
  @extend %action;
}

.article > .section-title:not(:first-child) {
  margin-top: 3.125rem;
}

// section title
.section-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 3.75rem;
  flex: 0;
  width: 100%;
  margin-bottom: ($grid-gutter-width / 2);
  padding-right: 3.75rem;

  > * {
    display: inline-flex;
  }

  &::after {
    content: "";
    flex-grow: 1;
    margin-left: 0.625rem;
    border-top: 1px solid $border-color;
  }

  .anchor {
    @include transition;
    @include translate(0, -50%);
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border: $border-width solid $border-color;
    outline: none;

    &::after {
      @include transition;
      @include translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      content: "\ec41";
      font-family: "icomoon" !important;
      font-size: $font-size-lg;
      color: $black;
    }

    &:hover {
      border-color: $primary;

      &::after {
        color: $primary;
      }
    }

    &.copied {
      border-color: $primary;
      background: $primary;

      &::after {
        color: $white;
        content: "\ebf7";
      }
    }
  }
}

.section-title-2 {
  padding-right: 0;
  font-size: 1.875rem;

  .anchor {
    @include transition;
    opacity: 0;
    color: $gray-500;
    outline: none;

    &:hover {
      color: $primary;
    }

    &.copied {
      opacity: 1;
      color: $green;
    }
  }

  &:hover {
    .anchor {
      opacity: 1;
    }
  }
}

// inverted
.text-white {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: $white;
  }

  p {
    color: rgba($white, 0.55);
  }

  a {
    color: rgba($white, 0.75);

    &:hover {
      color: $white;
    }
  }
}

// responsive
//

@include media-breakpoint-down(md) {
  .display-1 {
    font-size: ($display1-size * 0.75);
  }
  .display-2 {
    font-size: ($display2-size * 0.75);
  }
  .display-3 {
    font-size: ($display3-size * 0.75);
  }
  .display-4 {
    font-size: ($display4-size * 0.75);
  }
  h1,
  .h1 {
    font-size: ($h1-font-size * 0.75);
  }
  h2,
  .h2 {
    font-size: ($h2-font-size * 0.75);
  }
  h3,
  .h3 {
    font-size: ($h3-font-size * 0.75);
  }
  h4,
  .h4 {
    font-size: ($h4-font-size * 0.75);
  }
  h5,
  .h5 {
    font-size: ($h5-font-size * 0.75);
  }
}
